.counter {
  text-align: center;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: #556581;
}

.total {
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 20px;
}

button {
  font-size: 22px;
  padding: 10px 25px;
  border-radius: 15px;
  background: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.05s ease-in-out;

  &.minus {
    background-color: #e63946;
    color: #fff;
    box-shadow: 0 4px 0 darken(#e63946, 10%);
    border: 1px solid darken(#e63946, 15%);
    margin-right: 20px;
  }

  &.plus {
    background-color: #2a9d8f;
    color: #fff;
    box-shadow: 0 4px 0 darken(#2a9d8f, 10%);
    border: 1px solid darken(#2a9d8f, 15%);
  }

  &:hover {
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(2px);
    box-shadow: none;
  }
}